<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <html data-theme="fantasy"></html>
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl" href="/">Lego Collection</a>
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a href="/about">About</a></li>
            <li>
              <details>
                <summary>
                  Theme
                </summary>
                <ul class="p-2 bg-base-100">
                  <li><a href="/lego/sets?theme=Technic">Technic</a></li>
                  <li><a href="/lego/sets?theme=Supplemental">Supplemental</a></li>
                  <li><a href="/lego/sets?theme=Classic Town">Classic Town</a></li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
      </div>
      <div class="container mx-auto">
        <div class="hero bg-base-200 rounded-lg p-6">
            <div class="hero-content text-center">
              <div class="max-w-md">
                <h1 class="text-5xl font-bold">Welcome</h1>
                <p class="py-6">Unleash your inner builder and embark on a fascinating journey through the colorful realm of Lego.</p>
                <button class="btn btn-primary" > <a href="/lego/sets">Get Started</a></button>
              </div>
            </div>
          </div>
        
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 flex justify-center">
              <div class="border-2">
                  <div class="card card-compact w-96 bg-base-100 shadow-xl">
                      <figure><img src="https://cdn.rebrickable.com/media/sets/010423-1.jpg" alt="Shoes" /></figure>
                      <div class="card-body">
                        <h2 class="card-title">The Majestic Horse</h2>
                        <p>Designed by previous 2017 Lego Masters UK winners Nathan Dias and Steve Guinness.
                            Given to select members of the Recognised Lego Fan Media group for an April fools prank in 2023, only around 10 are known to exist.</p>
                        <div class="card-actions justify-end">
                          <button class="btn btn-primary"><a href="/lego/sets/010423-1">Buy Now</a></button>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="border-2">
                  <div class="card card-compact w-96 bg-base-100 shadow-xl">
                      <figure><img src="https://cdn.rebrickable.com/media/sets/03093-1.jpg" alt="Shoes" /></figure>
                      <div class="card-body">
                        <h2 class="card-title">The Race to Build It Board Game</h2>
                        <p> the levers with small base have yellow levers, not black as indicated in the picture.</p>
                        <div class="card-actions justify-end">
                          <button class="btn btn-primary"><a href="/lego/sets/03093-1">Buy Now</a></button>
                        </div>
                      </div>
                    </div>
              </div>
              <div class="border-2">
                  <div class="card card-compact w-96 bg-base-100 shadow-xl">
                      <figure><img src="https://cdn.rebrickable.com/media/sets/021-1.jpg" alt="Shoes" /></figure>
                      <div class="card-body">
                        <h2 class="card-title">Wheel Set</h2>
                        <p>This set was released in America (USA/CAN) by Samsonite in 1966. It was never released in Europe.</p>
                        <div class="card-actions justify-end">
                          <button class="btn btn-primary"><a href="/lego/sets/021-1">Buy Now</a></button>
                        </div>
                      </div>
                    </div>
              </div>
            </div>
          
      </div>
      
</body>
</html>
